body {
  background-color: white;
}

button  {
  background-color: #4c90ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: hand;
  float: left;
}

.navigate_bar {
  color: navy;
  margin-left: 20px;
  margin-top: 40px;
}

.menuTitleDiv  {
  display: inline-block;
  margin-top: 1px;
  margin-left: 50px;
  top: 200px;
  font-size: 40px;
  color: black;
}

.dash_content  {
  margin-left: 200px;
}

.preferences_content  {
  margin-left: 200px;
}
